{% set url = path('ads_show',{'slug': ad.slug})%}
<div class="col-md-4">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            {{ ad.rooms}} chambre(s), <strong>{{ad.price}}&euro; /nuit </strong> </br>
            <small>Pas encrore noté</small>
        </div>
        <a href="{{url}}"><img src="{{ ad.coverImage }}" alt="Image de l'appartement" style="height:200px;width:100%; display:block"></a>

        <div class="card-body">
            <a href="{{url}}"><h4 class="card-title">
                {{ad.title}}
            </h4></a>
            <p class="card-text">
                {{ad.introduction}}
            </p>
        <a href="{{url}}" class="btn btn-secondary">En savoir plus!</a>
        </div>
    </div>
</div>